.pageContainer {
    width: 100%;
    min-height: 100%;
    background-color: #f6f7f8;
}

.sectionContainer {
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.pageLayout {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.pageContent {
    max-width: 100%;
    min-width: 40%;
    margin-bottom: 50px;
}

.jsx {
    width: 50%;
    background-image: url(/_next/static/media/marble_texture.699a28df.jpg);
    margin-bottom: 15px;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 0% 20%;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.documentContainer {
    vertical-align: top;
    flex: 1;

}

.documentContainer:hover {
    /* background-color: rgba(124, 124, 250, 0.682); */
}

/* MARBLE */
.marbleContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 10%;
}

.marbleContent {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: inset -1px -20px 20px 0 white, 0 3px 0 0 #D6DADF, -3px -3px 0 0 #FFF, 0 10px 20px 0 #A9B4CB;
    padding: 20px;
}

.insetMarbleContent {
    box-shadow: -1px -20px 20px 0 white, inset 0 3px 0 0 #D6DADF, -3px -3px 0 0 #FFF, inset 0 10px 20px 0 #A9B4CB;
    transition: box-shadow cubic-bezier(0.39, 0.575, 0.565, 1) .1s
}



.inputDiv {
    display: flex;
}

.inputDiv>label {
    padding-left: 5px;
}

.inputDiv,
.inputDiv>input,
.inputDiv>label {
    cursor: pointer;
}


@keyframes pulseText {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}



/* MARBLE END */



.docs {
    margin-bottom: 20px;
    font-weight: bold;
}

.docs>li {

    list-style-type: none;
}

h3.title {
    margin-bottom: 8px;
}

.btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    border: none;
    background: transparent;

}

.btn:hover {
    cursor: pointer;
}

@media (hover: hover) {

    .box>button {
        /* display: none; */
    }

    .box:hover>button {
        /* display: block; */
        cursor: pointer;
    }
}

@media (max-width: 600px) {


    .sectionContainer {
        max-width: 95%;
    }

    .jsx {
        width: 90%;
    }

    .pageContent {
        min-width: 75%;
    }

    .columns {
        flex-direction: column;
    }
}